<section class="profilechange">

   <h1 class="heading">change profile</h1>

   <div class="box-container">

      <div class="box">

      <h3>Name</h3>
      <input type="text" name="name" required maxlength="50" placeholder="Name" class="input">
      <a href=#  class="btn">update name</a>
      </div>

      <div class="box">

         <h3>Number</h3>
         <input type="text" name="number" required maxlength="50" placeholder="Number" class="input">
         <a href=# class="btn">update number</a>
      </div>

      <div class="box">

         <h3>E-mail</h3>
         <input type="email" name="email" required maxlength="50" placeholder="E-mail" class="input">
         <a href=# class="btn">update email</a>
      </div>

      <div class="image">
         <img src="Assets/images/cat.svg" alt="">
      </div>






   </div>

</section>





