
<!-- home section starts  -->

<div class="home">

   <section class="center">

      <form action="#search" method="post">
         <h3>find your perfect companion</h3>
         <div class="flex">
            <div class="box">
               <p>Animal type <span>*</span></p>
               <select name="type" class="input" required>
                  <option value="Dog">Dog</option>
                  <option value="Cat">Cat</option>
                  <option value="Bird">Bird</option>
                  <option value="Hamster">Hamster</option>
                  <option value="Other">Other</option>
               </select>
            </div>
            <div class="box">
               <p>Location<span>*</span></p>
               <select name="location" class="input" required>
                  <option value="USK">Unsko-sanski kanton</option>
                  <option value="PK">Posavski kanton</option>
                  <option value="TK">Tuzlanski kanton</option>
                  <option value="ZDK">ZeniČko-dobojski kanton</option>
                  <option value="BPK">Bosansko-podrinjski kanton</option>
                  <option value="SBK">Srednjobosanski kanton</option>
                  <option value="HNK">Hercegovačko-neretvanski kanton</option>
                  <option value="ZHK">Zapadnohercegovački kanton</option>
                  <option value="KS">Kanton Sarajevo</option>
                  <option value="K10">Kaonton 10</option>
               </select>
            </div>
            <div class="box">
               <p>What age <span>*</span></p>
               <input type="number" name="age" required maxlength="50" placeholder="max age in months" class="input">
            </div>
            <div class="box">
               <p>Maximum budget <span>*</span></p>
               <input type="number" name="budget" required maxlength="50" placeholder="max euro" class="input">
            </div>
         </div>
         <input type="submit" value="search property" name="search" class="btn">
      </form>

   </section>

</div>

<!-- home section ends -->

<!-- services section starts  -->

<section class="services">

   <h1 class="heading">Our Mission</h1>

   <div class="box-container">

      <div class="box">
         <img src="Assets/images/icon-1.png" alt="">
         <h3>Promote Responsible Ownership</h3>
         <p>Encourage education and resources to foster responsible pet ownership within the community, emphasizing the importance of adoption over purchasing pets.</p>
      </div>

      <div class="box">
         <img src="Assets/images/icon-2.png" alt="">
         <h3>Facilitate Loving Connections</h3>
         <p>Connect homeless pets with caring individuals and families, striving to create lifelong bonds and happy homes for every animal in need.</p>
      </div>

      <div class="box">
         <img src="Assets/images/icon-3.png" alt="">
         <h3>Advocate for Animal Welfare</h3>
         <p>Advocate for policies and initiatives that improve the welfare of animals, promoting humane treatment and ending pet homelessness through adoption awareness campaigns.</p>
      </div>



   </div>

</section>

<!-- services section ends -->

<!-- listings section starts  -->

<section class="listings">

   <h1 class="heading">latest listings</h1>

   <div class="box-container">

      <div class="box">
         <div class="admin">
            <h3>j</h3>
            <div>
               <p>john deo</p>
               <span>10-11-2022</span>
            </div>
         </div>
         <div class="thumb">
            <p class="total-images"><i class="far fa-image"></i><span>1</span></p>
            
            <form action="" method="post" class="save">
               <button type="submit" name="save" class="far fa-heart"></button>
            </form>
            <img src="Assets/images/bird1.jpg" alt="">
         </div>
         <h3 class="name">Tuco</h3>
         <p class="location"><i class="fas fa-paw"></i><span>Budgerigar bird</span></p>
         <div class="flex">
            <p><i class="fas fa-calendar"></i><span>3</span></p>
            <p><i class="fas fa-money-bill"></i><span>2000</span></p>
            <p><i class="fas fa-location-dot"></i><span>TK</span></p>
         </div>
         <a href="#view_pet" class="btn">view pet</a>
      </div>

      <div class="box">
         <div class="admin">
            <h3>j</h3>
            <div>
               <p>john deo</p>
               <span>10-11-2022</span>
            </div>
         </div>
         <div class="thumb">
            <p class="total-images"><i class="far fa-image"></i><span>1</span></p>
            
            <form action="" method="post" class="save">
               <button type="submit" name="save" class="far fa-heart"></button>
            </form>
            <img src="Assets/images/cat1.webp" alt="">
         </div>
         <h3 class="name">Meow</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i><span>Burmese cat</span></p>
         <div class="flex">
            <p><i class="fas fa-calendar"></i><span>2</span></p>
            <p><i class="fas fa-money-bill"></i><span>1500</span></p>
            <p><i class="fas fa-location-dot"></i><span>KS</span></p>
         </div>
         <a href="#view_pet" class="btn">view pet</a>
      </div>

      <div class="box">
         <div class="admin">
            <h3>j</h3>
            <div>
               <p>john deo</p>
               <span>10-11-2022</span>
            </div>
         </div>
         <div class="thumb">
            <p class="total-images"><i class="far fa-image"></i><span>1</span></p>
            
            <form action="" method="post" class="save">
               <button type="submit" name="save" class="far fa-heart"></button>
            </form>
            <img src="Assets/images/dog1.webp" alt="">
         </div>
         <h3 class="name">Buddy</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i><span>Golden retriever dog</span></p>
         <div class="flex">
            <p><i class="fas fa-calendar"></i><span>5</span></p>
            <p><i class="fas fa-money-bill"></i><span>3000</span></p>
            <p><i class="fas fa-location-dot"></i><span>KS</span></p>
         </div>
         <a href="#view_pet" class="btn">view pet</a>
      </div>

   </div>

   <div style="margin-top: 2rem; text-align:center;">
      <a href="#listings" class="inline-btn">view all</a>
   </div>

</section>

<!-- listings section ends -->







