

<!-- login section starts  -->

<section class="form-container">
   <form id="login-form">
      <h3>Welcome back!</h3>
      <input type="email" name="email" required maxlength="50" placeholder="Enter your email" class="box">
      <input type="password" name="password" required maxlength="20" placeholder="Enter your password" class="box">
      <p>Don't have an account? <a href="#register">Register now</a></p>
      <input type="submit" value="Login now" name="submit" class="btn">
   </form>
   <div class="image">
      <img src="Assets/images/undraw_businessman_e7v0.svg" class="businessman-image" alt="">
   </div>
</section>



<script>
   $(document).ready(function() {
      $.getJSON("http://localhost:63342/Game-shop/desgin/Assets/js/users.json", function(users) {
         $("#login-form").submit(function(event) {
            event.preventDefault();
            var email = $("input[name='email']").val();
            var password = $("input[name='password']").val();
            var authenticatedUser = users.find(function(user) {
               return user.email === email && user.password === password;
            });
            if (authenticatedUser) {
               // Redirect to home
               window.location.href = "#home";
            } else {
               // Display login unsuccessful message
               alert('Log-in failed. Please try again.');
            }
         });
      });
   });


</script>





