

<section class="my-listings">

   <h1 class="heading">my listings</h1>

    <div class="box-container">

        <div class="box">
            <div class="thumb">
                <p class="total-images"><i class="far fa-image"></i><span>1</span></p>
                <img src="Assets/images/collie.jpg" alt="">
            </div>
            <h3 class="name">Raya</h3>
            <p class="location"><i class="fas fa-shield-dog"></i><span>Border collie dog</span></p>
            <a href="#view_pet" class="btn">view</a>
            <a href="#update_pet" class="btn">edit</a>
            <a href=# class="btn">delete</a>
        </div>

    </div>

</section>
