
<section class="listings">

    <h1 class="heading">Saved</h1>

    <div class="box-container">

        <div class="box">
            <div class="admin">
                <h3>j</h3>
                <div>
                    <p>john deo</p>
                    <span>10-11-2022</span>
                </div>
            </div>
            <div class="thumb">
                <p class="total-images"><i class="far fa-image"></i><span>1</span></p>

                <form action="" method="post" class="save">
                    <button type="submit" name="save" class="far fa-heart"></button>
                </form>
                <img src="Assets/images/bird1.jpg" alt="">
            </div>
            <h3 class="name">Tuco</h3>
            <p class="location"><i class="fas fa-paw"></i><span>Budgerigar bird</span></p>
            <div class="flex">
                <p><i class="fas fa-calendar"></i><span>3</span></p>
                <p><i class="fas fa-money-bill"></i><span>2000</span></p>
                <p><i class="fas fa-location-dot"></i><span>TK</span></p>
            </div>
            <a href="#view_pet" class="btn">view pet</a>
        </div>

        <div class="box">
            <div class="admin">
                <h3>j</h3>
                <div>
                    <p>john deo</p>
                    <span>10-11-2022</span>
                </div>
            </div>
            <div class="thumb">
                <p class="total-images"><i class="far fa-image"></i><span>1</span></p>

                <form action="" method="post" class="save">
                    <button type="submit" name="save" class="far fa-heart"></button>
                </form>
                <img src="Assets/images/cat1.webp" alt="">
            </div>
            <h3 class="name">Meow</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Burmese cat</span></p>
            <div class="flex">
                <p><i class="fas fa-calendar"></i><span>2</span></p>
                <p><i class="fas fa-money-bill"></i><span>1500</span></p>
                <p><i class="fas fa-location-dot"></i><span>KS</span></p>
            </div>
            <a href="#view_pet" class="btn">view pet</a>
        </div>

        <div class="box">
            <div class="admin">
                <h3>j</h3>
                <div>
                    <p>john deo</p>
                    <span>10-11-2022</span>
                </div>
            </div>
            <div class="thumb">
                <p class="total-images"><i class="far fa-image"></i><span>1</span></p>

                <form action="" method="post" class="save">
                    <button type="submit" name="save" class="far fa-heart"></button>
                </form>
                <img src="Assets/images/dog1.webp" alt="">
            </div>
            <h3 class="name">Buddy</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Golden retriever dog</span></p>
            <div class="flex">
                <p><i class="fas fa-calendar"></i><span>5</span></p>
                <p><i class="fas fa-money-bill"></i><span>3000</span></p>
                <p><i class="fas fa-location-dot"></i><span>KS</span></p>
            </div>
            <a href="#view_pet" class="btn">view pet</a>
        </div>

    </div>


</section>
