
<!-- view property section starts  -->

<section class="view-pet">

   <div class="details">
      <div class="thumb">
         <div class="big-image">
            <img src="Assets/images/catr.jpg" alt="">
         </div>
         <div class="small-images">
            <img src="Assets/images/oc1.jpg" alt="">
            <img src="Assets/images/oc2.webp" alt="">
            <img src="Assets/images/catr.jpg" alt="">
         </div>
      </div>
      <h3 class="name">Bobby</h3>
      <p class="location"><i class="fas fa-shield-dog"></i><span>Chausie cat</span></p>
      <div class="info">
         <p><i class="fas fa-calendar"></i><span>5</span></p>
         <p><i class="fas fa-money-bill"></i><span>3000</span></p>
         <p><i class="fas fa-location-dot"></i><span>KS</span></p>
         <p><i class="fas fa-user"></i><span>john deo (owner)</span></p>
         <p><i class="fas fa-phone"></i><a href="tel:1234567890">1234567890</a></p>
         <p><i class="fas fa-calendar"></i><span>10-11-2022</span></p>
      </div>
      <h3 class="title">Details</h3>
      <div class="flex">
         <div class="box">
            <p><i>Name:</i><span>Bobby</span></p>
            <p><i>Age:</i><span>5 years</span></p>
            <p><i>Price:</i><span>3000 euros</span></p>
            <p><i>Status:</i><span>For sale</span></p>
         </div>
         <div class="box">
            <p><i>Vaccination:</i><span>Done</span></p>
            <p><i>Documents:</i><span>Avaliable</span></p>
            <p><i>Personality:</i><span>Calm</span></p>
            <p><i>Special needs:</i><span>None</span></p>
         </div>
      </div>

      <h3 class="title">description</h3>
      <p class="description">Bobby's the chilled-out cat you've been looking for! Found and cared for by his current owner, he's all about those calm vibes. With him around, you can expect a laid-back atmosphere in your home.</p>
      <form action="" method="post">
         <input type="submit" value="save pet" name="save" class="inline-btn">
      </form>
   </div>

</section>

<script>
   let menu = document.querySelector('.header .menu');

   document.querySelector('#menu-btn').onclick = () =>{
      menu.classList.toggle('active');
   }

   window.onscroll = () =>{
      menu.classList.remove('active');
   }

   document.querySelectorAll('input[type="number"]').forEach(inputNumber => {
      inputNumber.oninput = () =>{
         if(inputNumber.value.length > inputNumber.maxLength) inputNumber.value = inputNumber.value.slice(0, inputNumber.maxLength);
      };
   });

   document.querySelectorAll('.view-pet .details .thumb .small-images img').forEach(images =>{
      images.onclick = () =>{
         src = images.getAttribute('src');
         document.querySelector('.view-pet .details .thumb .big-image img').src = src;
      }
   });

   document.querySelectorAll('.faq .box-container .box h3').forEach(headings =>{
      headings.onclick = () =>{
         headings.parentElement.classList.toggle('active');
      }
   });

</script>